body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-around;
}

header{
    background-color: #1F2937;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

.logo {
    margin: 0;
    font-size: 1.2rem;
    color: white;
}

.description {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.description-item {
    flex: 1 1 10px;
    max-width: 500px;
}

.description h1 {
    margin-bottom: 0;
}

.description p {
    margin-top: 0;
    margin-bottom: -20px;
}

button {
    background-color: #3882F6;
    border-radius: 10%;
    padding: 5px 15px;
    color: white;
}

.description img {
    width: 300px;
    height: 100px;
}

.description p {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 420px;
}

.part2 {
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
}

.container2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 52px;
    margin: 25px;
}

.container2 p {
    max-width: 150px;
}

.box {
    border: 5px solid #3882F6;
    padding: 20px;
    border-radius: 10%;
    max-height: 250px;
    max-width: 100px;
    align-self: center;
}
