.container {
    display: flex;
    justify-content: space-around;
}

header{
    background-color: #1F2937;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: grey;
}